/* Reset */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HERO SECTION */
.hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom right, #e0e0e0, #b5b5b5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #252525;
}

.hero {
    height: 100vh;
    background:
        linear-gradient(135deg, rgba(255,255,255,0.9), rgba(255,138,0,0.6)),
        linear-gradient(225deg, rgba(43,43,43,0.9), rgba(255,255,255,0.4));
    background-blend-mode: overlay;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: rgba(0,0,0,0.55);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

.brand-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Logo on the left */
.logo {
    position: absolute;
    left: 20px;
    height: 40px; /* adjust size as needed */
}


.hero-content {
    position: relative;
    max-width: 800px;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    opacity: 0.9;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    opacity: 0.85;
}
/* 
.cta-btn {
    padding: 12px 25px;
    background: #00aaff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.cta-btn:hover {
    background: #0088cc;
}

/* FEATURES SECTION */
.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    background: #f5f5f5;
}

.feature {
    max-width: 300px;
    text-align: center;
}

.feature h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #333;
}

.feature p {
    font-size: 1rem;
    color: #555;
}
 */


